<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maqueta de Barberia</title>
    <link rel="stylesheet" href="payment.css" />
</head>

<body>
    <section>
        <div class="container">
            <div class="image-container">
                <img src="https://images.pexels.com/photos/4952628/pexels-photo-4952628.jpeg?auto=compress&cs=tinysrgb&w=400"
                    alt="Imagen">
                <img src="https://images.pexels.com/photos/4952628/pexels-photo-4952628.jpeg?auto=compress&cs=tinysrgb&w=400"
                    alt="Imagen">
            </div>
            <div class="data-container">
                <h1>EDI THE BARBER PROFESIONAL</h1>
                <h2>RFC: DOAE870303U84 <br>FRAY BARTOLOME DE LAS CASAS 24, INT.23 Y 24, COL.CENTRO, <br>CUERNAVACA
                    MORELOS, C.P.62000</h2>
                <p class="with-line">Nombre:</p>
                <p class="with-line">Concepto:</p>
                <p class="with-line">Fecha:</p>
                <p class="with-line">Total:</p>
            </div>
            <div class="image-container-right">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdtcEHE3Gr1eQZHsB-EL-tToo93sckoltR4A&s"
                    alt="Imagen Derecha">
            </div>
        </div>
    </section>
</body>

</html>